@import "../../styles/settings.scss";

.pagination {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 8px;
}

.pagination button {
    padding: 0 16px;
    cursor: pointer;
    border: 1px solid $color-grey-2;
    background-color: $color-grey-1;
    border-radius: $border-radius-1;
    @include transition;

    &:hover {
        background-color: $color-grey-2;
    }

    p {
        font-weight: 700;
        color: $font-color;
    }
}

.pagination button.active {
    font-weight: bold;
    background-color: $color-grey-2;
    color: $color-white;
    border: none;
    pointer-events: none;
}