@import "../../styles/settings.scss";


.bands-wrapper {
    display: flex;
    flex-direction: column;
    gap: $common-spacing;
}

.band-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include phone {
        flex-direction: column;
    }
}

.band {
    flex: 1 1 calc(33.33% - 16px);
    background-color: $color-white;
    border-radius: $border-radius-2;
    padding: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    @include transition;

    @include phone {
        width: 100%;
    }

    .icon-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;

        .icon {
            height: 48px;
            width: 48px;
        }
    }

    .title {
        display: flex;
        align-items: center;
        height: 40px;

        h3 {
            @include transition;
        }

        &:hover {
            h3 {
                font-size: 22px;
                color: $color-purple;
                text-decoration: underline;
                text-decoration-color: $color-purple;
            }
        }
    }

    .band-photo {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: $border-radius-1;
    }
}