@import "../../styles/settings.scss";

.bands-wrapper {
    display: flex;
    gap: 16px;

    @include phone {
        flex-direction: column;
    }
}

.band {
    flex: 1;
    background-color: $color-white;
    border-radius: 16px 16px 16px 0;
    padding: 24px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    @include transition;

    .icon-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;

        .icon {
            height: 48px;
            width: 48px;
        }
    }

    .title {
        display: flex;
        align-items: center;
        height: 40px;
    }

    h3 {
        @include transition;
    }

    .text {
        padding: 24px 0;
    }

    .band-photo {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;

        @include tablet-down {
            height: 162px;
        }
    }

    &:hover {
        box-shadow: 4px 4px 12px rgba(255, 182, 193, 0.5);

        h3 {
            font-size: 20px;
            text-decoration: underline;
        }

        .band-photo {
            transform: scale(1.1);
        }
    }
}
