@import "./settings.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $color-white;
    font-family: $font-text;
    font-size: $base-font-size;
    color: $color-black;
    letter-spacing: 0.5px;
}

:global(.container) {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

@import "./typography.scss";