$color-white: #fff;
$color-black: #000000;
$color-light-gray: #f6f8fd;
$color-gray: #dddfe3;
$color-dark-gray: #c0c2c7;
$color-dark-blue: #283d7b;
$color-baby-blue: #4dd2ef;
$color-green: #74cb80;
$color-hot-pink: #f43f85;
$color-baby-pink: #f37bad;
$color-warning: #de5d5d;

$base-font-size: 15px;

$font-text: "Noto Sans", sans-serif;