@import './mixins.scss';

// Variables
// Colors
$color-white: #fff;
$color-black: #000000;
$color-sand: #edeae4;
$color-grey-1: #f9f9f9;
$color-grey-2: #ccc;
$color-purple: #92029e;

// Fonts
$font-size: 13px;
$font-color: #696969;
$font-text: "Open Sans", sans-serif;

// Other
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
$border-radius-1: 10px;
$border-radius-2: 16px 16px 16px 0;
$navbar-height: 88px;
$common-spacing: 24px;

// Page settings
section {
    padding: 32px 0;

    @include tablet-down {
        padding: 24px 0;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.react-icon {
    svg {
        height: 24px;
        width: 24px;
    }
}

a {
    color: $font-color;
}
