@import './mixins.scss';

// Variables
// Colors
$color-white: #fff;
$color-black: #000000;
$color-sand: #FCFBF9;

// Fonts
$font-size: 13px;
$font-color: #696969;
$font-text: "Open Sans", sans-serif;

// Other
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
$navbar-height: 88px;

// Page settings
section {
    padding: 64px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.react-icon {
    svg {
        height: 24px;
        width: 24px;
    }
}

a {
    color: $font-color;
}
