@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 32px;

    @include phone {
        font-size: 28px;
    }
}

h2 {
    font-size: 24px;

    @include phone {
        font-size: 20px;
    }
}

h3 {
    font-size: 18px;

    @include phone {
        font-size: 16px;
    }
}