@import "../../styles/settings.scss";

.news-wrapper {
    display: flex;
    flex-direction: column;
    gap: $common-spacing;

    .news {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        padding: $common-spacing;
        border-radius: $border-radius-2;

        &-header {
            margin-bottom: 16px;
        }

        &-body {
            display: flex;
            gap: $common-spacing;

            @include phone {
                flex-direction: column;
            }

            img {
                height: 220px;
                width: 410px;
                object-fit: cover;

                @include phone {
                    width: 100%;
                }
            }
        }
    }
}