@import "../../styles/settings.scss";

.footer {
    width: 100%;
    padding-bottom: 32px;
    color: $color-black;
    display: flex;
    align-items: center;

    @include tablet-down {
        padding-bottom: $common-spacing;
    }

    .footer-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: $color-black;
    }
}